# VS Code
.vscode/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
*.pem
*.key

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Logs
*.log

# Large screen recordings
*.mp4